extends layout

block content
    div(class="row justify-content-center")
        div(class="d-flex justify-content-center align-items-center")
            img(src="/public/images/wizarding-clock-face.jpg" class="img-fluid" alt="Wizarding Clock Face")